.top-pane {
  background-color: var(--grayish-dark-blue);
  color: var(--very-light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.name {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 1rem 0;
  font-weight: 200;
}

.lastname {
  color: var(--icy-blue);
}

.title {
  margin: 0;
}
