.side-pane {
  background-color: var(--grayish-dark-blue);
  color: var(--very-light-grey);
  font-family: var(--poppins);
  padding: 1rem;
}

@media screen and (min-width: 1192px) {
  .side-pane {
    width: 99%;
  }
}
